{{#if initCategories}}
    <div class="do-categories">
        <h3>Categories</h3>
        <div class="do-link-categories">
            <a href={{categories.cloud.link}} class="cloud">
                <h4>Cloud</h4>
                <span>{{categories.cloud.postCount}}</span>
            </a>
            <a href={{categories.documents.link}} class="documents">
                <h4>Docs</h4>
                <span>{{categories.documents.postCount}}</span>
            </a>
            <a href={{categories.workspace.link}} class="workspace">
                <h4>Workspace</h4>
                <span>{{categories.workspace.postCount}}</span>
            </a>
            <a href={{categories.connectors.link}} class="connectors">
                <h4>Connectors</h4>
                <span>{{categories.connectors.postCount}}</span>
            </a>
            <a href={{categories.desktop_editors.link}} class="desk_editors">
                <h4>Desktop Editors</h4>
                <span>{{categories.desktop_editors.postCount}}</span>
            </a>
            <a href={{categories.forms.link}} class="forms">
                <h4>Forms</h4>
                <span>{{categories.forms.postCount}}</span>
            </a>
            <a href={{categories.mobile_apps.link}} class="mob_apps">
                <h4>Mobile Apps</h4>
                <span>{{categories.mobile_apps.postCount}}</span>
            </a>
            <a href={{categories.document_builder.link}} class="doc_builder">
                <h4>Document Builder</h4>
                <span>{{categories.document_builder.postCount}}</span>
            </a>
            <a href={{categories.plugins.link}} class="plugins">
                <h4>Plugins</h4>
                <span>{{categories.plugins.postCount}}</span>
            </a>
            <a href={{categories.document_api.link}} class="doc_api">
                <h4>Document API</h4>
                <span>{{categories.document_api.postCount}}</span>
            </a>
            <a href={{categories.news.link}} class="news">
                <h4>News</h4>
                <span>{{categories.news.postCount}}</span>
            </a>
            <a href={{categories.suggestions.link}} class="suggestions">
                <h4>Suggestions</h4>
                <span>{{categories.suggestions.postCount}}</span>
            </a>
        </div>
    </div>
{{/if}}